mytrains-process-api/src/main/mule/mytrains-station-details.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:json-logger="http://www.mulesoft.org/schema/mule/json-logger" xmlns:my-trains-system-api="http://www.mulesoft.org/schema/mule/my-trains-system-api"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/my-trains-system-api http://www.mulesoft.org/schema/mule/my-trains-system-api/current/mule-my-trains-system-api.xsd
http://www.mulesoft.org/schema/mule/json-logger http://www.mulesoft.org/schema/mule/json-logger/current/mule-json-logger.xsd">
	<flow name="mytrains-get-station-details-flow" doc:id="87f04d21-cd68-4409-a6fb-359db07a2b88" >
		<json-logger:logger doc:name="flowBegin" doc:id="4e11114c-1313-4d3c-9e36-b48d470900c0" config-ref="jsonLoggerConfig" message="Payload in the start of the flow" />
		<my-trains-system-api:get-station-details doc:name="Get Station Details" doc:id="bf56f821-31d9-4988-b9b7-b568204b8cde" config-ref="myTrainsSystemAPIConfig" station-name="#[attributes.queryParams.stationName]"/>
		<json-logger:logger doc:name="flowEnd" doc:id="04e91b0c-9b00-4cf7-8ea9-0fed81aeb4c0" config-ref="jsonLoggerConfig" message="Payload at the end of flow"/>
	</flow>
</mule>
